
<template>
    <div class="container">
        <h1>Sito creato da:</h1>
        <div class="informazioni">
            
            <label class="info" >Robert Daniel Bararu</label>
            <label class="info" >Mauro Iacolino</label>
            <label class="info" >Bola Dilawar Singh</label>
            <label class="info" >Ionut Necula</label>
        </div>
    </div>
</template>

<style>

    .informazioni{
         margin-top: 200px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info{
       margin-bottom: 30px;
       font-weight: bold;
       font-size: 25px;
    }
    

</style>