<template>
    <form class="add">
    <div style="display:flex; flex-direction:column;align-content:center;gap:10px ">
        <input type="text" v-model="tipo" placeholder="Inserisci tipo" name="tipo">
        <input type="text" v-model="piatto" placeholder="Inserisci piatto" name="piatto">
        <input type="text" v-model="descrizione" placeholder="Inserisci descrizione" name="descrizione">
        <input type="double" v-model="prezzo" placeholder="Inserisci prezzo" name="prezzo">
        
        <button type="button" v-on:click="addMenu">Inserisci Piatto</button>
    </div>
    </form>
</template>
<script>
    import axios from 'axios'
    import Header from './Header.vue'

    export default{
        name:'Add',
        components:{
            Header
        },
        data(){
            return{
                
                    tipo:'',
                    piatto:'',
                    descrizione:'',
                    prezzo:''
                
            }
        },

        methods:{
            async addMenu(){
                
                let result = await axios.post("http://localhost:8000/add",{
                    tipo:this.tipo,
                    piatto:this.piatto,
                    descrizione:this.descrizione,
                    prezzo:this.prezzo
                });
                console.warn("result",result)
     
            }
        },
    
    }

</script>