<template>
  <Header></Header>
  <router-view></router-view>

  <SignUp/>
</template>

<script>
  import Header from './Header.vue'

  export default{
    name: 'App',
    
  }
</script>

<style>



</style>