<template>

<div class="header">
    <img src="favicon.ico" />
    <router-link to="/" >Home</router-link>
    <router-link to="/menu-list">Menu</router-link>
    <router-link to="/about">About</router-link>
    <router-link to="/add">Add</router-link>
    <router-link to="/SignUp">SignUp</router-link>
    <router-link to="/Login">Login</router-link>


</div>

</template>

<script>

    export default{
        name:'Header'
    }

</script>

<style>
.header{    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.1);
    padding:10px;
}
.header a{
    text-decoration: none;
    color:darkcyan;
}
.header img{
    width:20px;
    height: 20px;
}


</style>

