<script >
import Header from './Header.vue';

export default{
    name:'Home',
    components:{
        Header
    },

    
}
    


</script>

<template>
<Header />
<body>

    <div class="container">
        <h1>Benvenuto nel Ristorante Brubi</h1>
         <img class="ristorante" src="../foto/ristorante.png"/>

         <label class="mot">La nostra cucina non è una lista di ingredienti o una dimostrazione di abilità tecniche: 
             è il racconto del paesaggio Italiano e delle nostre passioni.<br>
            La cucina è una collisione di idee, tecniche e culture. Non è matematica, è emozionante.
        </label>
        
        <div class="home1" >
            <img style="border: 2px solid black;" class="dsc" src="../foto/home1.png"/>
            <label class="info">L’estetica di una location raffinata, 
                un’architettura elegante e una <br>cucina innovativa 
                ma tradizionale: Ristorante Brubi è la<br> dimostrazione 
                di come tutto questo possa coesistere in un unico<br> spazio.
                 Lo Chef  è riuscito a far convergere un’esperienza<br> 
                  al Ristorante, un incontro al Café, degustazioni in<br> Cantina 
                  ed eventi privati, in un solo ambiente. Una realtà<br> gastronomica
                   polivalente, dalla prima colazione al drink dopo<br> teatro, per 
                   trasmettere la ricerca costante di un’armonia sospesa <br>tra 
                   tradizione e innovazione, emblema della sua cucina.
            </label>
        </div>

        <div class="home2" >
            <label class="info2">I piatti in carta sono un viaggio nella cultura gastronomica,<br>
                 più raffinata, dal menù degustazione “Be Contemporary” al menù <br>
                 “Be Classic”, con i grandi classici firmati Enrico Bartolini, <br>
                 senza dimenticare le novità stagionali e le creazioni più <br>
                 originali, crocevia di sapori, mondi e tradizioni.​
            </label>
            <img style="border: 2px solid black;" class="dsc2" src="../foto/degustazione.png"/>

        </div>

        <div class="home3" >
            <img style="border: 2px solid black;" class="dsc3" src="../foto/milano.png"/>
            <label class="info3">Il Ristorante Brubi si trova a Milano, una città stimolante <br>e all’avanguardia che,
                con la sua cucina gourmet vegetariana, contribuisce<br>
                 a renderla ancora più attrattiva.
            </label>

        </div>
        <div class="fine">
            <label class="footer">Brubi Copyright 2022 | P.iva IT10342374512 | All Rights Reserved | Powered by Brubi | Privacy Policy | Cookie Policy | Legal </label>
        </div>
    </div>


</body>  
</template>

<style>

        body{
            background-color: white;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            width: 100%;
        }

        .ristorante{
            box-shadow: 10px 10px 5px gray;
        }

        .home1{
            margin-top: 200px;
            width: 100%;
            height: 500px;
            background-color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 120px;
        }

        .home2{
            width: 100%;
            height: 500px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 120px;
        }

        .home3{
            width: 100%;
            height: 500px;
            background-color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 120px;
            border: 20px black;
        }

        .dsc,.dsc2,.dsc3{
            width: 450px;
            height: 300px;
        }

        .fine{
            margin-top: 16%;
            background-color:white ;
            bottom:0;
            left:0;
            width:100%;
            padding: 20px;
            text-align: center;

        }

        .info,.info2,.info3{
            text-align: center;
            font-size: 17px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .mot{
            margin-top: 150px;
            font-size: 30px;
            font-family: Brush Script MT, Brush Script Std, cursive;
            text-align: center;
            font-weight: bold;
        }

        .footer{
            color: black;
            font-size: 12px;
        }

    </style>
