<!--
<template>
    <h1>Login Page</h1>

    <div class="elements">
        <input type="text" v-model="username" placeholder="Inserisci username"/>
        <input type="password" v-model="password" placeholder="Inserisci password"/>
        <button v-on:click="Login">Login</button>
        <p>
            <router-link to="/SignUp">Register..</router-link>
        </p>

    </div>
</template>

<script>

    import axios from 'axios'
    

    export default{
        name:'Login',

        data(){
            return{
                username:'',
                password:''
            }
        },
        methods:{
            async Login(){

                let result = await axios.get("http://localhost:8000/login",{
                    username:this.username,
                    password:this.password
                )
                console.log(result)
            }
        }
    }
</script>


<style>
    .elements{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 20px;
    }

    h1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

</style>

-->