<script>
export default {
  async mounted() {
    console.log("sono pronto!");
    var response=await fetch('http://localhost:8000/list');
    var menu=await response.json();

    this.menu=menu;

  },
  // i dati del componente
  data() {
    return {
      menu: [],
    };
  },
};


</script>


<template >
  <div >
    <div class="menusContainer">
        <h1 style="display:flex; justify-content:center;align-content:center;">Ristorante Brubi</h1>
        <div v-for="contenuto in menu" class="menuItem" :key="contenuto.id">
          <span class="tipo">{{ contenuto.tipo }}</span>                   
           <span class="piatto">{{ contenuto.piatto }}</span>
          <span class="desc">{{ contenuto.descrizione }}</span>
          <span class="prezzo">{{'$' + contenuto.prezzo }}</span>
        </div>
    </div>
    <br>
      

  </div>

</template>

<style scoped>
  .menusContainer{
    margin:10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .menuItem{
    display: flex;
    background-color:white;
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.1);
    padding:10px;
    border-radius: 4px;
    flex-direction: column;
    gap:5px;
    width: 40%;
    text-align: center;
    
  }
  .menuItem .tipo{
    font-weight: bold;
    font-size:18px;
  }
  .menuItem .insertDate{
    font-size:14px;
  }
</style>