<template>

    <h1>Registrazione</h1>

    <div class="elements">
        <input type="text" v-model="username" placeholder="Inserisci username"/>
        <input type="password" v-model="password" placeholder="Inserisci password"/>
        <button v-on:click="SignUp">Registrati</button>
        <p>
            <router-link to="/Login">Login..</router-link>
        </p>
    </div>
</template>

<script>
    import Header from './Header.vue'
    import axios from 'axios'
    export default{
        name :'SignUp',

        data()
        {
            return{
                username:'',
                password:''
            }
        },
        methods:{
            async SignUp(){
                let result= await axios.post("http://localhost:8000/users",{
                    username:this.username,
                    password:this.password
 
            });

            if(result.status==201){
                localStorage.setItem("user-info",JSON.stringify(result.data))
                this.$router.push({name:'Home'})
            }
            


            }
        },
        mounted()
        {
            let user=localStorage.getItem('user-info');

            if(user){
                this.$router.push({name:'Home'})
            }
        }
    }
        
    

</script>

<style>

    .elements{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 20px;

    }

    h1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

</style>